perltoc.pod missing dependencies

If you compare the `pod/perltoc.pod` as built by a full `make` and as built by just `make pod/perltoc.pod` from a clean tree, you'll notice that a lot of sections are missing.

Diffing the two and grepping for `-=head2`:

```
-=head2 attributes - get/set subroutine or variable attributes
-=head2 autodie - Replace functions with ones that succeed or die with
-=head2 autodie::Scope::Guard - Wrapper class for calling subs at end of
-=head2 autodie::Scope::GuardStack -  Hook stack for managing scopes via %^H
-=head2 autodie::Util - Internal Utility subroutines for autodie and Fatal
-=head2 autodie::exception - Exceptions from autodying functions.
-=head2 autodie::exception::system - Exceptions from autodying system().
-=head2 autodie::hints - Provide hints about user subroutines to autodie
-=head2 autodie::skip - Skip a package when throwing autodie exceptions
-=head2 autouse - postpone load of modules until a function is used
-=head2 base - Establish an ISA relationship with base classes at compile
-=head2 bigint - Transparent BigInteger support for Perl
-=head2 bignum - Transparent BigNumber support for Perl
-=head2 bigrat - Transparent BigNumber/BigRational support for Perl
-=head2 constant - Perl pragma to declare constants
-=head2 encoding - allows you to write your script in non-ASCII and
-=head2 encoding::warnings - Warn on implicit encoding conversions
-=head2 experimental - Experimental features made easy
-=head2 fields - compile-time class fields
-=head2 if - C<use> a Perl module if a condition holds
-=head2 lib - manipulate @INC at compile time
-=head2 mro - Method Resolution Order
-=head2 ok - Alternative to Test::More::use_ok
-=head2 ops - Perl pragma to restrict unsafe operations when compiling
-=head2 parent - Establish an ISA relationship with base classes at compile
-=head2 re - Perl pragma to alter regular expression behaviour
-=head2 threads - Perl interpreter-based threads
-=head2 threads::shared - Perl extension for sharing data structures between
-=head2 version - Perl extension for Version Objects
-=head2 version::Internals - Perl extension for Version Objects
-=head2 App::Cpan - easily interact with CPAN from the command line
-=head2 App::Prove - Implements the C<prove> command.
-=head2 App::Prove::State - State storage for the C<prove> command.
-=head2 App::Prove::State::Result - Individual test suite results.
-=head2 App::Prove::State::Result::Test - Individual test results.
-=head2 Archive::Tar - module for manipulations of tar archives
-=head2 Archive::Tar::File - a subclass for in-memory extracted file from
-=head2 Attribute::Handlers - Simpler definition of attribute handlers
-=head2 AutoLoader - load subroutines only on demand
-=head2 AutoSplit - split a package for autoloading
-=head2 B - The Perl Compiler Backend
-=head2 B::Concise - Walk Perl syntax tree, printing concise info about ops
-=head2 B::Showlex - Show lexical variables used in functions or files
-=head2 B::Terse - Walk Perl syntax tree, printing terse info about ops
-=head2 B::Xref - Generates cross reference reports for Perl programs
-=head2 CPAN - query, download and build perl modules from CPAN sites
-=head2 CPAN::API::HOWTO - a recipe book for programming with CPAN.pm
-=head2 CPAN::Debug - internal debugging for CPAN.pm
-=head2 CPAN::Distroprefs -- read and match distroprefs
-=head2 CPAN::FirstTime - Utility for CPAN::Config file Initialization
-=head2 CPAN::HandleConfig - internal configuration handling for CPAN.pm
-=head2 CPAN::Kwalify - Interface between CPAN.pm and Kwalify.pm
-=head2 CPAN::Meta - the distribution metadata for a CPAN dist
-=head2 CPAN::Meta::Converter - Convert CPAN distribution metadata
-=head2 CPAN::Meta::Feature - an optional feature provided by a CPAN
-=head2 CPAN::Meta::History - history of CPAN Meta Spec changes
-=head2 CPAN::Meta::History::Meta_1_0 - Version 1.0 metadata specification
-=head2 CPAN::Meta::History::Meta_1_1 - Version 1.1 metadata specification
-=head2 CPAN::Meta::History::Meta_1_2 - Version 1.2 metadata specification
-=head2 CPAN::Meta::History::Meta_1_3 - Version 1.3 metadata specification
-=head2 CPAN::Meta::History::Meta_1_4 - Version 1.4 metadata specification
-=head2 CPAN::Meta::Merge - Merging CPAN Meta fragments
-=head2 CPAN::Meta::Prereqs - a set of distribution prerequisites by phase
-=head2 CPAN::Meta::Requirements - a set of version requirements for a CPAN
-=head2 CPAN::Meta::Spec - specification for CPAN distribution metadata
-=head2 CPAN::Meta::Validator - validate CPAN distribution metadata
-=head2 CPAN::Meta::YAML - Read and write a subset of YAML for CPAN Meta
-=head2 CPAN::Nox - Wrapper around CPAN.pm without using any XS module
-=head2 CPAN::Plugin - Base class for CPAN shell extensions
-=head2 CPAN::Plugin::Specfile - Proof of concept implementation of a
-=head2 CPAN::Queue - internal queue support for CPAN.pm
-=head2 CPAN::Tarzip - internal handling of tar archives for CPAN.pm
-=head2 CPAN::Version - utility functions to compare CPAN versions
-=head2 Carp - alternative warn and die for modules
-=head2 Compress::Raw::Bzip2 - Low-Level Interface to bzip2 compression
-=head2 Compress::Raw::Zlib - Low-Level Interface to zlib compression
-=head2 Compress::Zlib - Interface to zlib compression library
-=head2 B<($out, $status) = $d-E<gt>flush($flush_type)>
-=head2 Config::Perl::V - Structured data retrieval of perl -V output
-=head2 Cwd - get pathname of current working directory
-=head2 Data::Dumper - stringified perl data structures, suitable for both
-=head2 Devel::PPPort - Perl/Pollution/Portability
-=head2 Devel::Peek - A data debugging tool for the XS programmer
-=head2 Devel::SelfStubber - generate stubs for a SelfLoading module
-=head2 Digest - Modules that calculate message digests
-=head2 Digest::MD5 - Perl interface to the MD5 Algorithm
-=head2 Digest::SHA - Perl extension for SHA-1/224/256/384/512
-=head2 Digest::base - Digest base class
-=head2 Digest::file - Calculate digests of files
-=head2 DirHandle - (obsolete) supply object methods for directory handles
-=head2 Dumpvalue - provides screen dump of Perl data.
-=head2 DynaLoader - Dynamically load C libraries into Perl code
-=head2 Encode - character encodings in Perl
-=head2 Encode::Alias - alias definitions to encodings
-=head2 Encode::Byte - Single Byte Encodings
-=head2 Encode::CJKConstants -- Internally used by Encode::??::ISO_2022_*
-=head2 Encode::CN - China-based Chinese Encodings
-=head2 Encode::CN::HZ -- internally used by Encode::CN
-=head2 Encode::Config -- internally used by Encode
-=head2 Encode::EBCDIC - EBCDIC Encodings
-=head2 Encode::Encoder -- Object Oriented Encoder
-=head2 Encode::Encoding - Encode Implementation Base Class
-=head2 Encode::GSM0338 -- ESTI GSM 03.38 Encoding
-=head2 Encode::Guess -- Guesses encoding from data
-=head2 Encode::JP - Japanese Encodings
-=head2 Encode::JP::H2Z -- internally used by Encode::JP::2022_JP*
-=head2 Encode::JP::JIS7 -- internally used by Encode::JP
-=head2 Encode::KR - Korean Encodings
-=head2 Encode::KR::2022_KR -- internally used by Encode::KR
-=head2 Encode::MIME::Header -- MIME encoding for an unstructured email
-=head2 Encode::MIME::Name, Encode::MIME::NAME -- internally used by Encode
-=head2 Encode::PerlIO -- a detailed document on Encode and PerlIO
-=head2 Encode::Supported -- Encodings supported by Encode
-=head2 Encode::Symbol - Symbol Encodings
-=head2 Encode::TW - Taiwan-based Chinese Encodings
-=head2 Encode::Unicode -- Various Unicode Transformation Formats
-=head2 Encode::Unicode::UTF7 -- UTF-7 encoding
-=head2 English - use nice English (or awk) names for ugly punctuation
-=head2 Env - perl module that imports environment variables as scalars or
-=head2 Errno - System errno constants
-=head2 Exporter - Implements default import method for modules
-=head2 Exporter::Heavy - Exporter guts
-=head2 ExtUtils::CBuilder - Compile and link C code for Perl modules
-=head2 ExtUtils::CBuilder::Platform::Windows - Builder class for Windows
-=head2 ExtUtils::Command - utilities to replace common UNIX commands in
-=head2 ExtUtils::Command::MM - Commands for the MM's to use in Makefiles
-=head2 ExtUtils::Constant - generate XS code to import C header constants
-=head2 ExtUtils::Constant::Base - base class for ExtUtils::Constant objects
-=head2 ExtUtils::Constant::Utils - helper functions for ExtUtils::Constant
-=head2 ExtUtils::Constant::XS - generate C code for XS modules' constants.
-=head2 ExtUtils::Embed - Utilities for embedding Perl in C/C++ applications
-=head2 ExtUtils::Install - install files from here to there
-=head2 ExtUtils::Installed - Inventory management of installed modules
-=head2 ExtUtils::Liblist - determine libraries to use and how to use them
-=head2 ExtUtils::MM - OS adjusted ExtUtils::MakeMaker subclass
-=head2 ExtUtils::MM_AIX - AIX specific subclass of ExtUtils::MM_Unix
-=head2 ExtUtils::MM_Any - Platform-agnostic MM methods
-=head2 ExtUtils::MM_BeOS - methods to override UN*X behaviour in
-=head2 ExtUtils::MM_Cygwin - methods to override UN*X behaviour in
-=head2 ExtUtils::MM_DOS - DOS specific subclass of ExtUtils::MM_Unix
-=head2 ExtUtils::MM_Darwin - special behaviors for OS X
-=head2 ExtUtils::MM_MacOS - once produced Makefiles for MacOS Classic
-=head2 ExtUtils::MM_NW5 - methods to override UN*X behaviour in
-=head2 ExtUtils::MM_OS2 - methods to override UN*X behaviour in
-=head2 ExtUtils::MM_QNX - QNX specific subclass of ExtUtils::MM_Unix
-=head2 ExtUtils::MM_UWIN - U/WIN specific subclass of ExtUtils::MM_Unix
-=head2 ExtUtils::MM_Unix - methods used by ExtUtils::MakeMaker
-=head2 ExtUtils::MM_VMS - methods to override UN*X behaviour in
-=head2 ExtUtils::MM_VOS - VOS specific subclass of ExtUtils::MM_Unix
-=head2 ExtUtils::MM_Win32 - methods to override UN*X behaviour in
-=head2 ExtUtils::MM_Win95 - method to customize MakeMaker for Win9X
-=head2 ExtUtils::MY - ExtUtils::MakeMaker subclass for customization
-=head2 ExtUtils::MakeMaker - Create a module Makefile
-=head2 ExtUtils::MakeMaker::Config - Wrapper around Config.pm
-=head2 ExtUtils::MakeMaker::FAQ - Frequently Asked Questions About
-=head2 ExtUtils::MakeMaker::Locale - bundled Encode::Locale
-=head2 ExtUtils::MakeMaker::Tutorial - Writing a module with MakeMaker
-=head2 ExtUtils::Manifest - Utilities to write and check a MANIFEST file
-=head2 ExtUtils::Miniperl - write the C code for miniperlmain.c and
-=head2 ExtUtils::Mkbootstrap - make a bootstrap file for use by DynaLoader
-=head2 ExtUtils::Mksymlists - write linker options files for dynamic
-=head2 ExtUtils::Packlist - manage .packlist files
-=head2 ExtUtils::ParseXS - converts Perl XS code into C code
-=head2 ExtUtils::ParseXS::Constants - Initialization values for some
-=head2 ExtUtils::ParseXS::Eval - Clean package to evaluate code in
-=head2 ExtUtils::ParseXS::Utilities - Subroutines used with
-=head2 ExtUtils::Typemaps - Read/Write/Modify Perl/XS typemap files
-=head2 ExtUtils::Typemaps::Cmd - Quick commands for handling typemaps
-=head2 ExtUtils::Typemaps::InputMap - Entry in the INPUT section of a
-=head2 ExtUtils::Typemaps::OutputMap - Entry in the OUTPUT section of a
-=head2 ExtUtils::Typemaps::Type - Entry in the TYPEMAP section of a typemap
-=head2 ExtUtils::XSSymSet - keep sets of symbol names palatable to the VMS
-=head2 ExtUtils::testlib - add blib/* directories to @INC
-=head2 Fatal - Replace functions with equivalents which succeed or die
-=head2 Fcntl - load the C Fcntl.h defines
-=head2 File::Basename - Parse file paths into directory, filename and
-=head2 File::Compare - Compare files or filehandles
-=head2 File::Copy - Copy files or filehandles
-=head2 File::DosGlob - DOS like globbing and then some
-=head2 File::Fetch - A generic file fetching mechanism
-=head2 File::Find - Traverse a directory tree.
-=head2 File::Glob - Perl extension for BSD glob routine
-=head2 File::GlobMapper - Extend File Glob to Allow Input and Output Files
-=head2 File::Path - Create or remove directory trees
-=head2 File::Spec - portably perform operations on file names
-=head2 File::Spec::AmigaOS - File::Spec for AmigaOS
-=head2 File::Spec::Cygwin - methods for Cygwin file specs
-=head2 File::Spec::Epoc - methods for Epoc file specs
-=head2 File::Spec::Functions - portably perform operations on file names
-=head2 File::Spec::Mac - File::Spec for Mac OS (Classic)
-=head2 File::Spec::OS2 - methods for OS/2 file specs
-=head2 File::Spec::Unix - File::Spec for Unix, base for other File::Spec
-=head2 File::Spec::VMS - methods for VMS file specs
-=head2 File::Spec::Win32 - methods for Win32 file specs
-=head2 File::Temp - return name and handle of a temporary file safely
-=head2 File::stat - by-name interface to Perl's built-in stat() functions
-=head2 FileCache - keep more files open than the system permits
-=head2 FileHandle - supply object methods for filehandles
-=head2 Filter::Simple - Simplified source filtering
-=head2 Filter::Util::Call - Perl Source Filter Utility Module
-=head2 FindBin - Locate directory of original perl script
-=head2 Getopt::Long - Extended processing of command line options
-=head2 Getopt::Std - Process single-character switches with switch
-=head2 HTTP::Tiny - A small, simple, correct HTTP/1.1 client
-=head2 Hash::Util - A selection of general-utility hash subroutines
-=head2 Hash::Util::FieldHash - Support for Inside-Out Classes
-=head2 I18N::Collate - compare 8-bit scalar data according to the current
-=head2 I18N::LangTags - functions for dealing with RFC3066-style language
-=head2 I18N::LangTags::Detect - detect the user's language preferences
-=head2 I18N::LangTags::List -- tags and names for human languages
-=head2 I18N::Langinfo - query locale information
-=head2 IO - load various IO modules
-=head2 IO::Compress::Base - Base Class for IO::Compress modules
-=head2 IO::Compress::Bzip2 - Write bzip2 files/buffers
-=head2 IO::Compress::Deflate - Write RFC 1950 files/buffers
-=head2 IO::Compress::FAQ -- Frequently Asked Questions about IO::Compress
-=head2 IO::Compress::Gzip - Write RFC 1952 files/buffers
-=head2 IO::Compress::RawDeflate - Write RFC 1951 files/buffers
-=head2 IO::Compress::Zip - Write zip files/buffers
-=head2 IO::Dir - supply object methods for directory handles
-=head2 IO::File - supply object methods for filehandles
-=head2 IO::Handle - supply object methods for I/O handles
-=head2 IO::Pipe - supply object methods for pipes
-=head2 IO::Poll - Object interface to system poll call
-=head2 IO::Seekable - supply seek based methods for I/O objects
-=head2 IO::Select - OO interface to the select system call
-=head2 IO::Socket - Object interface to socket communications
-=head2 IO::Socket::INET - Object interface for AF_INET domain sockets
-=head2 IO::Socket::IP, C<IO::Socket::IP> - Family-neutral IP socket
-=head2 IO::Socket::UNIX - Object interface for AF_UNIX domain sockets
-=head2 IO::Uncompress::AnyInflate - Uncompress zlib-based (zip, gzip)
-=head2 IO::Uncompress::AnyUncompress - Uncompress gzip, zip, bzip2 or lzop
-=head2 IO::Uncompress::Base - Base Class for IO::Uncompress modules
-=head2 IO::Uncompress::Bunzip2 - Read bzip2 files/buffers
-=head2 IO::Uncompress::Gunzip - Read RFC 1952 files/buffers
-=head2 IO::Uncompress::Inflate - Read RFC 1950 files/buffers
-=head2 IO::Uncompress::RawInflate - Read RFC 1951 files/buffers
-=head2 IO::Uncompress::Unzip - Read zip files/buffers
-=head2 IO::Zlib - IO:: style interface to L<Compress::Zlib>
-=head2 IPC::Cmd - finding and running system commands made easy
-=head2 IPC::Msg - SysV Msg IPC object class
-=head2 IPC::Open2 - open a process for both reading and writing using
-=head2 IPC::Open3 - open a process for reading, writing, and error handling
-=head2 IPC::Semaphore - SysV Semaphore IPC object class
-=head2 IPC::SharedMem - SysV Shared Memory IPC object class
-=head2 IPC::SysV - System V IPC constants and system calls
-=head2 Internals - Reserved special namespace for internals related
-=head2 JSON::PP - JSON::XS compatible pure-Perl module.
-=head2 JSON::PP::Boolean - dummy module providing JSON::PP::Boolean
-=head2 List::Util - A selection of general-utility list subroutines
-=head2 List::Util::XS - Indicate if List::Util was compiled with a C
-=head2 Locale::Maketext - framework for localization
-=head2 Locale::Maketext::Cookbook - recipes for using Locale::Maketext
-=head2 Locale::Maketext::Guts - Deprecated module to load Locale::Maketext
-=head2 Locale::Maketext::GutsLoader - Deprecated module to load
-=head2 Locale::Maketext::Simple - Simple interface to
-=head2 Locale::Maketext::TPJ13 -- article about software localization
-=head2 MIME::Base64 - Encoding and decoding of base64 strings
-=head2 MIME::QuotedPrint - Encoding and decoding of quoted-printable
-=head2 Math::BigFloat - Arbitrary size floating point math package
-=head2 Math::BigInt - Arbitrary size integer/float math package
-=head2 Math::BigInt::Calc - Pure Perl module to support Math::BigInt
-=head2 Math::BigInt::FastCalc - Math::BigInt::Calc with some XS for more
-=head2 Math::BigInt::Lib - virtual parent class for Math::BigInt libraries
-=head2 Math::BigRat - Arbitrary big rational numbers
-=head2 Math::Complex - complex numbers and associated mathematical
-=head2 Math::Trig - trigonometric functions
-=head2 Memoize - Make functions faster by trading space for time
-=head2 Memoize::AnyDBM_File - glue to provide EXISTS for AnyDBM_File for
-=head2 Memoize::Expire - Plug-in module for automatic expiration of
-=head2 Memoize::ExpireFile - test for Memoize expiration semantics
-=head2 Memoize::ExpireTest - test for Memoize expiration semantics
-=head2 Memoize::NDBM_File - glue to provide EXISTS for NDBM_File for
-=head2 Memoize::SDBM_File - glue to provide EXISTS for SDBM_File for
-=head2 Memoize::Storable - store Memoized data in Storable database
-=head2 Module::CoreList - what modules shipped with versions of perl
-=head2 Module::CoreList::Utils - what utilities shipped with versions of
-=head2 Module::Load - runtime require of both modules and files
-=head2 Module::Load::Conditional - Looking up module information / loading
-=head2 Module::Loaded - mark modules as loaded or unloaded
-=head2 Module::Metadata - Gather package and POD information from perl
-=head2 NEXT - Provide a pseudo-class NEXT (et al) that allows method
-=head2 Net::Cmd - Network Command class (as used by FTP, SMTP etc)
-=head2 Net::Config - Local configuration data for libnet
-=head2 Net::Domain - Attempt to evaluate the current host's internet name
-=head2 Net::FTP - FTP Client class
-=head2 Net::NNTP - NNTP Client class
-=head2 Net::Netrc - OO interface to users netrc file
-=head2 Net::POP3 - Post Office Protocol 3 Client class (RFC1939)
-=head2 Net::Ping - check a remote host for reachability
-=head2 Net::SMTP - Simple Mail Transfer Protocol Client
-=head2 Net::Time - time and daytime network client interface
-=head2 Net::hostent - by-name interface to Perl's built-in gethost*()
-=head2 Net::libnetFAQ, libnetFAQ - libnet Frequently Asked Questions
-=head2 Net::netent - by-name interface to Perl's built-in getnet*()
-=head2 Net::protoent - by-name interface to Perl's built-in getproto*()
-=head2 Net::servent - by-name interface to Perl's built-in getserv*()
-=head2 O - Generic interface to Perl Compiler backends
-=head2 Opcode - Disable named opcodes when compiling perl code
-=head2 POSIX - Perl interface to IEEE Std 1003.1
-=head2 Params::Check - A generic input parsing/checking mechanism.
-=head2 Parse::CPAN::Meta - Parse META.yml and META.json CPAN metadata files
-=head2 Perl::OSType - Map Perl operating system names to generic types
-=head2 PerlIO - On demand loader for PerlIO layers and root of PerlIO::*
-=head2 PerlIO::encoding - encoding layer
-=head2 PerlIO::mmap - Memory mapped IO
-=head2 PerlIO::scalar - in-memory IO, scalar IO
-=head2 PerlIO::via - Helper class for PerlIO layers implemented in perl
-=head2 PerlIO::via::QuotedPrint - PerlIO layer for quoted-printable strings
-=head2 Pod::Checker - check pod documents for syntax errors
-=head2 Pod::Escapes - for resolving Pod EE<lt>...E<gt> sequences
-=head2 Pod::Find - find POD documents in directory trees
-=head2 Pod::Html - module to convert pod files to HTML
-=head2 Pod::InputObjects - objects representing POD input paragraphs,
-=head2 Pod::Man - Convert POD data to formatted *roff input
-=head2 Pod::ParseLink - Parse an LE<lt>E<gt> formatting code in POD text
-=head2 Pod::ParseUtils - helpers for POD parsing and conversion
-=head2 Pod::Parser - base class for creating POD filters and translators
-=head2 Pod::Perldoc - Look up Perl documentation in Pod format.
-=head2 Pod::Perldoc::BaseTo - Base for Pod::Perldoc formatters
-=head2 Pod::Perldoc::GetOptsOO - Customized option parser for Pod::Perldoc
-=head2 Pod::Perldoc::ToANSI - render Pod with ANSI color escapes 
-=head2 Pod::Perldoc::ToChecker - let Perldoc check Pod for errors
-=head2 Pod::Perldoc::ToMan - let Perldoc render Pod as man pages
-=head2 Pod::Perldoc::ToNroff - let Perldoc convert Pod to nroff
-=head2 Pod::Perldoc::ToPod - let Perldoc render Pod as ... Pod!
-=head2 Pod::Perldoc::ToRtf - let Perldoc render Pod as RTF
-=head2 Pod::Perldoc::ToTerm - render Pod with terminal escapes
-=head2 Pod::Perldoc::ToText - let Perldoc render Pod as plaintext
-=head2 Pod::Perldoc::ToTk - let Perldoc use Tk::Pod to render Pod
-=head2 Pod::Perldoc::ToXml - let Perldoc render Pod as XML
-=head2 Pod::PlainText - Convert POD data to formatted ASCII text
-=head2 Pod::Select, podselect() - extract selected sections of POD from
-=head2 Pod::Simple - framework for parsing Pod
-=head2 Pod::Simple::Checker -- check the Pod syntax of a document
-=head2 Pod::Simple::Debug -- put Pod::Simple into trace/debug mode
-=head2 Pod::Simple::DumpAsText -- dump Pod-parsing events as text
-=head2 Pod::Simple::DumpAsXML -- turn Pod into XML
-=head2 Pod::Simple::HTML - convert Pod to HTML
-=head2 Pod::Simple::HTMLBatch - convert several Pod files to several HTML
-=head2 Pod::Simple::LinkSection -- represent "section" attributes of L
-=head2 Pod::Simple::Methody -- turn Pod::Simple events into method calls
-=head2 Pod::Simple::PullParser -- a pull-parser interface to parsing Pod
-=head2 Pod::Simple::PullParserEndToken -- end-tokens from
-=head2 Pod::Simple::PullParserStartToken -- start-tokens from
-=head2 Pod::Simple::PullParserTextToken -- text-tokens from
-=head2 Pod::Simple::PullParserToken -- tokens from Pod::Simple::PullParser
-=head2 Pod::Simple::RTF -- format Pod as RTF
-=head2 Pod::Simple::Search - find POD documents in directory trees
-=head2 Pod::Simple::SimpleTree -- parse Pod into a simple parse tree 
-=head2 Pod::Simple::Subclassing -- write a formatter as a Pod::Simple
-=head2 Pod::Simple::Text -- format Pod as plaintext
-=head2 Pod::Simple::TextContent -- get the text content of Pod
-=head2 Pod::Simple::XHTML -- format Pod as validating XHTML
-=head2 Pod::Simple::XMLOutStream -- turn Pod into XML
-=head2 Pod::Text - Convert POD data to formatted text
-=head2 Pod::Text::Color - Convert POD data to formatted color ASCII text
-=head2 Pod::Text::Overstrike - Convert POD data to formatted overstrike
-=head2 Pod::Text::Termcap - Convert POD data to ASCII text with format
-=head2 Pod::Usage - print a usage message from embedded pod documentation
-=head2 SDBM_File - Tied access to sdbm files
-=head2 Safe - Compile and execute code in restricted compartments
-=head2 Scalar::Util - A selection of general-utility scalar subroutines
-=head2 Search::Dict - look - search for key in dictionary file
-=head2 SelectSaver - save and restore selected file handle
-=head2 SelfLoader - load functions only on demand
-=head2 Socket, C<Socket> - networking constants and support functions
-=head2 Storable - persistence for Perl data structures
-=head2 Sub::Util - A selection of utility subroutines for subs and CODE
-=head2 Symbol - manipulate Perl symbols and their names
-=head2 Sys::Hostname - Try every conceivable way to get hostname
-=head2 Sys::Syslog - Perl interface to the UNIX syslog(3) calls
-=head2 TAP::Base - Base class that provides common functionality to
-=head2 TAP::Formatter::Base - Base class for harness output delegates
-=head2 TAP::Formatter::Color - Run Perl test scripts with color
-=head2 TAP::Formatter::Console - Harness output delegate for default
-=head2 TAP::Formatter::Console::ParallelSession - Harness output delegate
-=head2 TAP::Formatter::Console::Session - Harness output delegate for
-=head2 TAP::Formatter::File - Harness output delegate for file output
-=head2 TAP::Formatter::File::Session - Harness output delegate for file
-=head2 TAP::Formatter::Session - Abstract base class for harness output
-=head2 TAP::Harness - Run test scripts with statistics
-=head2 TAP::Harness::Beyond, Test::Harness::Beyond - Beyond make test
-=head2 TAP::Harness::Env - Parsing harness related environmental variables
-=head2 TAP::Object - Base class that provides common functionality to all
-=head2 TAP::Parser - Parse L<TAP|Test::Harness::TAP> output
-=head2 TAP::Parser::Aggregator - Aggregate TAP::Parser results
-=head2 TAP::Parser::Grammar - A grammar for the Test Anything Protocol.
-=head2 TAP::Parser::Iterator - Base class for TAP source iterators
-=head2 TAP::Parser::Iterator::Array - Iterator for array-based TAP sources
-=head2 TAP::Parser::Iterator::Process - Iterator for process-based TAP
-=head2 TAP::Parser::Iterator::Stream - Iterator for filehandle-based TAP
-=head2 TAP::Parser::IteratorFactory - Figures out which SourceHandler
-=head2 TAP::Parser::Multiplexer - Multiplex multiple TAP::Parsers
-=head2 TAP::Parser::Result - Base class for TAP::Parser output objects
-=head2 TAP::Parser::Result::Bailout - Bailout result token.
-=head2 TAP::Parser::Result::Comment - Comment result token.
-=head2 TAP::Parser::Result::Plan - Plan result token.
-=head2 TAP::Parser::Result::Pragma - TAP pragma token.
-=head2 TAP::Parser::Result::Test - Test result token.
-=head2 TAP::Parser::Result::Unknown - Unknown result token.
-=head2 TAP::Parser::Result::Version - TAP syntax version token.
-=head2 TAP::Parser::Result::YAML - YAML result token.
-=head2 TAP::Parser::ResultFactory - Factory for creating TAP::Parser output
-=head2 TAP::Parser::Scheduler - Schedule tests during parallel testing
-=head2 TAP::Parser::Scheduler::Job - A single testing job.
-=head2 TAP::Parser::Scheduler::Spinner - A no-op job.
-=head2 TAP::Parser::Source - a TAP source & meta data about it
-=head2 TAP::Parser::SourceHandler - Base class for different TAP source
-=head2 TAP::Parser::SourceHandler::Executable - Stream output from an
-=head2 TAP::Parser::SourceHandler::File - Stream TAP from a text file.
-=head2 TAP::Parser::SourceHandler::Handle - Stream TAP from an IO::Handle
-=head2 TAP::Parser::SourceHandler::Perl - Stream TAP from a Perl executable
-=head2 TAP::Parser::SourceHandler::RawTAP - Stream output from raw TAP in a
-=head2 TAP::Parser::YAMLish::Reader - Read YAMLish data from iterator
-=head2 TAP::Parser::YAMLish::Writer - Write YAMLish data
-=head2 Term::ANSIColor - Color screen output using ANSI escape sequences
-=head2 Term::Cap - Perl termcap interface
-=head2 Term::Complete - Perl word completion module
-=head2 Term::ReadLine - Perl interface to various C<readline> packages.
-=head2 Test - provides a simple framework for writing test scripts
-=head2 Test2 - Framework for writing test tools that all work together.
-=head2 Test2, This describes the namespace layout for the Test2 ecosystem.
-=head2 Test2::API - Primary interface for writing Test2 based testing
-=head2 Test2::API::Breakage - What breaks at what version
-=head2 Test2::API::Context - Object to represent a testing context.
-=head2 Test2::API::Instance - Object used by Test2::API under the hood
-=head2 Test2::API::Stack - Object to manage a stack of L<Test2::Hub>
-=head2 Test2::Event - Base class for events
-=head2 Test2::Event::Bail - Bailout!
-=head2 Test2::Event::Diag - Diag event type
-=head2 Test2::Event::Encoding - Set the encoding for the output stream
-=head2 Test2::Event::Exception - Exception event
-=head2 Test2::Event::Fail - Event for a simple failed assertion
-=head2 Test2::Event::Generic - Generic event type.
-=head2 Test2::Event::Note - Note event type
-=head2 Test2::Event::Ok - Ok event type
-=head2 Test2::Event::Pass - Event for a simple passing assertion
-=head2 Test2::Event::Plan - The event of a plan
-=head2 Test2::Event::Skip - Skip event type
-=head2 Test2::Event::Subtest - Event for subtest types
-=head2 Test2::Event::TAP::Version - Event for TAP version.
-=head2 Test2::Event::V2 - Second generation event.
-=head2 Test2::Event::Waiting - Tell all procs/threads it is time to be done
-=head2 Test2::EventFacet - Base class for all event facets.
-=head2 Test2::EventFacet::About - Facet with event details.
-=head2 Test2::EventFacet::Amnesty - Facet for assertion amnesty.
-=head2 Test2::EventFacet::Assert - Facet representing an assertion.
-=head2 Test2::EventFacet::Control - Facet for hub actions and behaviors.
-=head2 Test2::EventFacet::Error - Facet for errors that need to be shown.
-=head2 Test2::EventFacet::Hub - Facet for the hubs an event passes through.
-=head2 Test2::EventFacet::Info - Facet for information a developer might
-=head2 Test2::EventFacet::Info::Table - Intermediary representation of a
-=head2 Test2::EventFacet::Meta - Facet for meta-data
-=head2 Test2::EventFacet::Parent - Facet for events contains other events
-=head2 Test2::EventFacet::Plan - Facet for setting the plan
-=head2 Test2::EventFacet::Render - Facet that dictates how to render an
-=head2 Test2::EventFacet::Trace - Debug information for events
-=head2 Test2::Formatter - Namespace for formatters.
-=head2 Test2::Formatter::TAP - Standard TAP formatter
-=head2 Test2::Hub - The conduit through which all events flow.
-=head2 Test2::Hub::Interceptor - Hub used by interceptor to grab results.
-=head2 Test2::Hub::Interceptor::Terminator - Exception class used by
-=head2 Test2::Hub::Subtest - Hub used by subtests
-=head2 Test2::IPC - Turn on IPC for threading or forking support.
-=head2 Test2::IPC::Driver - Base class for Test2 IPC drivers.
-=head2 Test2::IPC::Driver::Files - Temp dir + Files concurrency model.
-=head2 Test2::Tools::Tiny - Tiny set of tools for unfortunate souls who
-=head2 Test2::Transition - Transition notes when upgrading to Test2
-=head2 Test2::Util - Tools used by Test2 and friends.
-=head2 Test2::Util::ExternalMeta - Allow third party tools to safely attach
-=head2 Test2::Util::Facets2Legacy - Convert facet data to the legacy event
-=head2 Test2::Util::HashBase - Build hash based classes.
-=head2 Test2::Util::Trace - Legacy wrapper fro L<Test2::EventFacet::Trace>.
-=head2 Test::Builder - Backend for building test libraries
-=head2 Test::Builder::Formatter - Test::Builder subclass of
-=head2 Test::Builder::IO::Scalar - A copy of IO::Scalar for Test::Builder
-=head2 Test::Builder::Module - Base class for test modules
-=head2 Test::Builder::Tester - test testsuites that have been built with
-=head2 Test::Builder::Tester::Color - turn on colour in
-=head2 Test::Builder::TodoDiag - Test::Builder subclass of
-=head2 Test::Harness - Run Perl standard test scripts with statistics
-=head2 Test::More - yet another framework for writing test scripts
-=head2 Test::Simple - Basic utilities for writing tests.
-=head2 Test::Tester - Ease testing test modules built with Test::Builder
-=head2 Test::Tester::Capture - Help testing test modules built with
-=head2 Test::Tester::CaptureRunner - Help testing test modules built with
-=head2 Test::Tutorial - A tutorial about writing really basic tests
-=head2 Test::use::ok - Alternative to Test::More::use_ok
-=head2 Text::Abbrev - abbrev - create an abbreviation table from a list
-=head2 Text::Balanced - Extract delimited text sequences from strings.
-=head2 Text::ParseWords - parse text into an array of tokens or array of
-=head2 Text::Tabs - expand and unexpand tabs like unix expand(1) and
-=head2 Text::Wrap - line wrapping to form simple paragraphs
-=head2 Thread - Manipulate threads in Perl (for old code only)
-=head2 Thread::Queue - Thread-safe queues
-=head2 Thread::Semaphore - Thread-safe semaphores
-=head2 Tie::Array - base class for tied arrays
-=head2 Tie::File - Access the lines of a disk file via a Perl array
-=head2 Tie::Handle - base class definitions for tied handles
-=head2 Tie::Hash, Tie::StdHash, Tie::ExtraHash - base class definitions for
-=head2 Tie::Hash::NamedCapture - Named regexp capture buffers
-=head2 Tie::Memoize - add data to hash when needed
-=head2 Tie::RefHash - use references as hash keys
-=head2 Tie::Scalar, Tie::StdScalar - base class definitions for tied
-=head2 Tie::StdHandle - base class definitions for tied handles
-=head2 Tie::SubstrHash - Fixed-table-size, fixed-key-length hashing
-=head2 Time::HiRes - High resolution alarm, sleep, gettimeofday, interval
-=head2 Time::Local - Efficiently compute time from local and GMT time
-=head2 Time::Piece - Object Oriented time objects
-=head2 Time::Seconds - a simple API to convert seconds to other date values
-=head2 Time::gmtime - by-name interface to Perl's built-in gmtime()
-=head2 Time::localtime - by-name interface to Perl's built-in localtime()
-=head2 Time::tm - internal object used by Time::gmtime and Time::localtime
-=head2 UNIVERSAL - base class for ALL classes (blessed references)
-=head2 Unicode::Collate - Unicode Collation Algorithm
-=head2 Unicode::Collate::CJK::Big5 - weighting CJK Unified Ideographs
-=head2 Unicode::Collate::CJK::GB2312 - weighting CJK Unified Ideographs
-=head2 Unicode::Collate::CJK::JISX0208 - weighting JIS KANJI for
-=head2 Unicode::Collate::CJK::Korean - weighting CJK Unified Ideographs
-=head2 Unicode::Collate::CJK::Pinyin - weighting CJK Unified Ideographs
-=head2 Unicode::Collate::CJK::Stroke - weighting CJK Unified Ideographs
-=head2 Unicode::Collate::CJK::Zhuyin - weighting CJK Unified Ideographs
-=head2 Unicode::Collate::Locale - Linguistic tailoring for DUCET via
-=head2 Unicode::Normalize - Unicode Normalization Forms
-=head2 Unicode::UCD - Unicode character database
-=head2 User::grent - by-name interface to Perl's built-in getgr*()
-=head2 User::pwent - by-name interface to Perl's built-in getpw*()
-=head2 XSLoader - Dynamically load C libraries into Perl code
```

This missing dependency probably explains why I'm seeing rare non-deterministic `perltoc.pod` files.

https://github.com/arsv/perl-cross/commit/9e6871baa2219034b01010a2d53de25bb6831b23

Running `make pod/perltoc.pod` on a newly configured source should now force a nearly complete build, everything except for the perl executable itself. I don't think there are better ways though, not without rewriting buildtoc at least.

Note this scheme can be subverted by configuring disabled modules and then building them manually.

That solution seems seems like the right fix to me, just verified it appears to work.

Will it be merged to master?

Yeah, merged.

Fix verified, closing this issue.